/* Site Wide Styles */
body {
  color: #323232;
  font-size: 16px;
  font-family: 'Comfortaa', sans-serif;
  padding: 25px;
  background-color: #fff;
  background-image: url('../images/leaves.jpg');
  background-repeat: repeat;
}

hr {
  border-top: 3px solid rgb(244, 244, 244);
  margin-top: 25px;
  margin-bottom: 25px;
}

h1, h2, h3, h5 {
  text-transform: uppercase;
}

h5 {
  margin-bottom: 10px;
}

a {
  color:#323232;
}

a:hover {
  color:#000;
}

/* Jumbotron Styles */
.jumbotron {
  background-color: #ebebeb;
  padding: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: #ebebeb;
  border-radius: 175px 175px 0px 0px;
  border-bottom-color: #d5d5d5;
}

.jumbotron .col-md-9 {
  padding-left: 50px
}

.rounded-circle {
  display: block;
  border-width: 3px;
  border-color: #c2c2c2;
  border-style: solid;
}

button a {
  color: #fff;
  text-decoration: none;
}

button:hover a {
  color: rgb(232, 232, 232);
  text-decoration: none;
}

.jumbotron h1 {
  color: #323232;
  margin-top: 10px;
}

/* Portfolio Styles */
#portfolio {
  padding: 50px;
  background-color: #fff;
  border-width: 0px 1px 1px 1px;
  border-style:  solid;
  border-color: #ebebeb;
  border-bottom-color: #d5d5d5;
}

.portfolio-piece {
  margin-top: 0px;
  }

.portfolio-piece p {
  line-height: 1.7em;
  }

ul.languages-used {
padding-left: 0px;
}

ul.languages-used li {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 30px 5px 30px;
  display: block;
  border-style: dashed;
  border-width: 1px;
  border-color: #323232;
  text-transform: uppercase;
}

ul.languages-used li:hover {
color: #fff;
background-color: #323232;
}

.portfolio-piece .col-2 {
  margin-top: 45px
}

.portfolio-piece button {
  display: block;
  width: 100%;
}

/* About Me Styles */
#about-me {
  padding: 50px;
  padding-bottom: 175px;
  background-color: #ebebeb;
  border-style: solid;
  border-color: #ebebeb;
  border-radius: 0px 0px 175px 175px ;
}

#about-me .col-8 {
  padding-right: 50px;
}

#about-me .col-8 .experience-section {
  margin-bottom: 25px;
}

#about-me .col-4 {
  padding-left: 50px;
}

h5.job-title {
  font-weight: 900;
}

.credentials strong {
 font-weight: 600;
 font-size: 18px;
}

.date {
  font-weight: 300;
}

#about-me ol {
  margin-left: 20px;
}

#about-me li {
  margin-bottom: 10px;
}



